/*design*/ 

/*download*/

/*home*/
.deck {
    margin: 1em;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 2em;
    
}

.imageCard{
    width: 100%;
    height: 100%;    
}

.eachCard {
    display: flex;
    width: auto;
    height: 250px;   
}
/*library*/






.navStyle {
    padding: 5px;
    margin: 5px;
}
.formStyle {

    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
}
.buttonEnd{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttonStyle{
    position: relative;
    margin: 2em;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    display: block;
    border-radius: 15px;
    border-color: gray;
}
.Home {
    background: black;
}

li {
    color: white;
}
.review {
    width: max-content;
    height: 20em;
    padding: 5px;
    align-content: center;
    background: coral;
}