/*design*/ 
.template {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: inline-block;
    vertical-align: middle;

}

.formStyle {
    padding: 1.5em;
    margin-left: 10em;
    margin-right: 10em;
}

.selectStyle {
    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.buttonEnd{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttonStyle{
    position: relative;
    margin: 2em;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    display: block;
    border-radius: 15px;
    border-color: gray;
}
/*download*/

/*home*/
.deck {
    margin: 1em;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 1em;   
}

.imageCard{
    width: 100%;
    height: 100%;    
}

.eachCard {
    display: flex;
    width: auto;
    height: 250px;   
}


/*library*/

.navStyle {
    padding: 5px;
    margin: 5px;
}


.Home {
    background: black;
}

li {
    color: white;
}
.reviewBox {
    width: 50em;
    height: 50em;
    align-items: center;
    
}
.Review {
    display:flex;
    flex-direction: column;
    align-items: center;
}
