/*design*/ 
#template {
    margin: 0;
    width: 30em;
    height: 30em;
    padding: 1em;
    display: inline-block;
    justify-content: center;
    vertical-align: middle;
}

.formStyle {
    padding: 1.5em;
    margin-left: 10em;
    margin-right: 10em;
}

.selectStyle {
    padding: 1em;
    margin-left: 1em;
}

.buttonEnd{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttonStyle{
    position: relative;
    margin: 2em;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    display: block;
    border-radius: 15px;
    border-color: gray;
}

/*download*/
.reviewBox {
    width: 30em;
    height: 30em;
    align-items: center;
}

.Review {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.reviewSide {
    display: flex;
    justify-content: center;
    align-items: center;  
}

/*home*/
.deck {
    margin: 1em;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 1em;   
}

.imageCard{
    width: 100%;
    height: 100%;    
}

.eachCard {
    display: flex;
    width: auto;
    height: 250px;   
}

/*library*/
.libraryComp{
    align-content: center;
    padding: 2em;
}

.cardBox {
    margin-top: 2em;
    margin-left: 40%;
    margin-right: 40%;
    display: inline;   
}

.card{
    float: left;
    display: inherit;  
    width: 30%;
    margin: 1%;
}

/*template*/
.from{
    margin-top: 30%;
}


.navStyle {
    padding: 5px;
    margin: 5px;
}


.Home {
    background: black;
}

li {
    color: white;
}

